<%= form_for(presence) do |f| %>
  <% if presence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(presence.errors.count, "error") %> prohibited this presence from being saved:</h2>

      <ul>
      <% presence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :presence_type %>
    <%= f.select :presence_type, Presence.presence_types.keys.to_a, {prompt:"Select"} %>
  </div>

  <div class="field">
    <%= f.label :fecha_asistencia %>
    <%= f.date_select :fecha_asistencia %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
