<p id="notice"><%= notice %></p>

<p>
  <strong> Alumno </strong>
 <%=  @presence.student_has_subject.student.matricula %>
</p>

<p>
  <strong> Materia</strong>
 <%=  @presence.student_has_subject.cycle_has_subject.subject.nombre_materia  %>
</p>


<p>
  <strong>Presence type:</strong>
  <%= @presence.presence_type %>
</p>

<p>
  <strong>Fecha asistencia:</strong>
  <%= @presence.fecha_asistencia %>
</p>

<%= link_to 'Edit', edit_presence_path(@presence) %> |
<%= link_to 'Back', presences_path %>
