<%= form_for(score) do |f| %>
  <% if score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <label>Alumno</label>
        <% if @score.new_record? %>
          <%= f.select :student, Student.all.map { |c| [c.nombre_estudiante, c.id] },{ prompt: '- Seleccionar -' } %>
        <% else %>
          <%= f.select :student, Student.all.order(created_at: :desc).map{ |s| [s.nombre_estudiante, s.id]}, { prompt: '- Seleccionar -', selected: @score.student_has_subject.student_id } %>
        <% end %>

    </div>

    <div class="field">
      <label>Materia</label>
        <% if @score.new_record? %>
          <%= f.select :subject, {},{ prompt: '- Seleccionar -' } %>
        <% else %>
          <%= f.select :subject, Subject.joins("INNER JOIN cycle_has_subjects ON subjects.id = cycle_has_subjects.subject_id INNER JOIN student_has_subjects ON cycle_has_subjects.id = student_has_subjects.cycle_has_subject_id").where("student_id = ?", @score.student_has_subject.student_id).map{ |s| [s.nombre_materia, s.id] }, { prompt: '- Seleccionar -', selected: @score.student_has_subject.student_id } %>
        <% end %>
        <%= f.hidden_field :student_has_subject_id %>
    </div>

  <div class="field">
    <%= f.label :aplicar_parcial %>
    <%= f.check_box :aplicar_parcial %>
  </div>

  <div class="field">
    <%= f.label :score_type %>
    <%= f.select :score_type, Score.score_types.keys.to_a, {prompt:"Select"} %>
  </div>

  <div class="field">
    <%= f.label :calification %>
    <%= f.text_field :calification %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
