<p id="notice"><%= notice %></p>


<table>
  <thead>
    <tr>
      <th>Alumno</th>
      <th>Carrera</th>
      <th>Tipo de materia</th>
      <th>Materia</th>
      <th>Matricula</th>
      <th>Aplicar parcial</th>
      <th>Score type</th>
      <th>Calification</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.student_has_subject.student.nombre_estudiante %></td>
        <td><%= score.student_has_subject.cycle_has_subject.school_cycle.career.nombre_carrera %></td>
        <td><%= score.student_has_subject.student_subject_type %></td>
        <td><%= score.student_has_subject.cycle_has_subject.subject.nombre_materia  %></td>
        <td><%= score.student_has_subject.student.matricula%></td>
        <td><%= score.score_type %></td>
        <td><%= score.calification %></td>
        <td><%= link_to 'Show', score %></td>
        <td><%= link_to 'Edit', edit_score_path(score) %></td>
        <td><%= link_to 'Destroy', score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Score', new_score_path %>
<%= link_to "return", root_path %>
