<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre periodo:</strong>
  <%= @period.nombre_periodo %>
</p>

   <%= @period.period_type %>

<%= link_to 'Edit', edit_period_path(@period) %> |
<%= link_to 'Back', periods_path %>
